
body
{
    width: 700px;
    background-color: #bebebe;
}

#header-section
{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

#extesion-title-container
{
    display: flex;
    align-items: center;
}

#extension-icon
{
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

#extension-title
{
    margin: 0px;
    font-size: 18px;
}

#extension-actions-button
{
    
}

#recordOrStop
{

}

#user-actions-section
{
    background-color: #ffffff;
    padding: 10px 16px;
    border-radius: 4px;
    margin-bottom: 10px;
}

#user-actions-title-container
{

}

.section-title
{
    margin: 0px;
    font-size: 16px;
}

.horizontal-spacer
{
    height: 2px;
    background-color: #bebebe;
    margin: 6px 0px 16px 0px;
}

#user-actions-container
{

}

#user-action-header-container
{
    background-color: #3498db;
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 4px 4px 2px 2px;
}

.header 
{
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    color: #ffffff;
}

.item1
{
    width: 150px;
}

.item2
{
    width: 450px
}

#container-for-scroller
{
    padding: 0px 4px;
    margin: 5px 0px;
    padding: 0px 4px;
    margin: 5px 0px;
    height: 200px;
    overflow: auto;
}

#container-for-scroller::-webkit-scrollbar
{
    width: 0.5rem;
}

#container-for-scroller::-webkit-scrollbar-track
{
    
}

#container-for-scroller::-webkit-scrollbar-thumb
{
    background-color: #3498db; 
    border-radius: 0.25rem;
}


.user-action
{
    background-color: #bebebe;
    display: flex;
    align-items: center;
    height: 30px;
    margin: 3px 0px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    color: black;
}

.user-action:hover
{
    background-color: #3498db;
    color: #ffffff;
}

.action
{
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    height: 11.5px;
    overflow: hidden;
}