
<!-- header-componnet -->
<div id="header-componnet">

    <!-- project-title -->
    <div id="project-title">

        <!-- project-logo -->
        <div id="project-logo">
            <h1 class="logo">H</h1>
        </div>
        <!-- project-logo -->
        
        <!-- project-title -->
        <div id="project-name">
            <h1 class="project-name">{{ projectName }}</h1>
        </div>
        <!-- project-title -->

    </div>
    <!-- project-title -->

</div>
<!-- header-componnet -->

