
<!-- user-action-component -->
<div id="user-action-component">

    <!-- user-action-title -->
    <div id="user-action-title-container">

        <h2 id="user-action-title">{{ userActionTitle }}</h2>

        <!-- project-interaction-buttons -->
        <div id="project-interaction-buttons">

            <!-- record/stop-button -->
            <button id="record-or-stop" class="medium-button" (click)="recordUserActions()">
                <fa-icon *ngIf="recordOrStop== 'Record'" [icon]="faPlayCircle"></fa-icon>
                <fa-icon *ngIf="recordOrStop== 'Stop'" [icon]="faStopCircle"></fa-icon>
                &nbsp;
                {{ recordOrStop }}
            </button>
            <!-- record/stop-button -->

        </div>
        <!-- project-interaction-buttons -->

    </div>
    <!-- user-action-title -->

    <div class="title-spacer"></div>

    <!-- user-action-content -->
    <div id="user-action-content">

        <!-- user-actions -->
        <div id="user-actions-container">

            <!-- user-actions-header -->
            <div id="user-actions-header">

                <div id="user-action" class="user-action-title">
                    User Action
                </div>

                <div id="label" class="user-action-title">
                    Label
                </div>

                <div id="value" class="user-action-title">
                    Value
                </div>

                <div id="remove" class="user-action-title">
                    Remove
                </div>

            </div>
            <!-- user-actions-header -->

            <div id="all-user-action-data" #userActionParentView>

                <!-- here all user actions will come dinamically -->

            </div>

        </div>
        <!-- user-actions -->

        <!-- user-actions-edit -->
        <div id="user-action-edit-container">

            <!-- user-action-edit-title -->
            <div id="user-action-edit-title-container">

                <!-- user-action-buttons -->
                <div id="user-action-buttons">

                    <!-- save-or-create-new-test-case -->
                    <button *ngIf="!testCaseAddress" id="save-or-create-new-test-case" class="small-button-2">Create Test Case</button>
                    <button *ngIf="testCaseAddress" id="save-or-create-new-test-case" class="small-button-2">Save Test Case</button>
                    <!-- save-or-create-new-test-case -->

                    <!-- edit-user-action -->
                    <button id="edit-user-action" class="small-button-2">Edit</button>
                    <!-- edit-user-action -->

                </div>
                <!-- user-action-buttons -->

            </div>
            <!-- user-action-edit-title -->

            <div class="title-spacer-2"></div>

            <!-- user-action-edit -->
            <div class="edit-row">

                <div class="user-action-edit-title">User Action</div>
                <input type="text" [(ngModel)]="userAction" class="nice-input-2">

            </div>
            <!-- user-action-edit -->

            <!-- target-element-edit -->
            <div class="edit-row">

                <div class="user-action-edit-title">Target Element</div>
                <input type="text" [(ngModel)]="targetElement" class="nice-input-2">

            </div>
            <!-- target-element-edit -->

            <!-- value-edit -->
            <div class="edit-row">

                <div class="user-action-edit-title">Value</div>
                <input type="text" [(ngModel)]="value" class="nice-input-2">

            </div>
            <!-- value-edit -->

        </div>
        <!-- user-actions-edit -->

    </div>
    <!-- user-action-content -->

</div>
<!-- user-action-component -->
