
#console-component
{
    background-color: #ffffff;
    padding: 4px 16px;
    border-radius: 4px;
}

#console-title-container
{
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: space-between;

    #console-title
    {
        font-size: 16px;

        &:hover
        {
            color: #0E101A;
        }
    }
}

#event-console-content
{
    height: 85px;
    overflow: auto;

    &::-webkit-scrollbar
    {
        width: 0.5rem;
    }
    
    &::-webkit-scrollbar-track
    {
        //background-color: #1E1E24; 
    }
    
    &::-webkit-scrollbar-thumb
    {
        background-color: #15c39a; 
        border-radius: 0.25rem;
    }
}